:root{
	--main-bg-color: #030311;
}
*{
	margin: 0;
	padding: 0;
}
body{
	font-family: 'Lora', serif;
	color: white;
}
/*     HEADER     */
	header{
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100vw;
		height: 20vh;
		background: var(--main-bg-color);
	}
	h1{
		filter: drop-shadow(0 0 0.2rem #2799d1);
		font-family: 'Pacifico', cursive;
	}
/*     SECTION     */
	section{
		height: 60vh;
		background: var(--main-bg-color);
	}
		article{
			height: 50%;
			display: flex;
			align-items: center;
			justify-content: center; 
		}
		article ul{
			display: flex;
			list-style-type: none;
			width: 80%;
			height: 100%;
			margin: auto;
		}
		article li{
			float: left;
			width: 100%;
			height: 100%;
		}
		.affeau{
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 100%;
			height: 100%;
		}
		svg{
			width: 100%;
			height: 100%;
		}
		.affeau p{
			font-size: 1.2em;
		}
/*     FOOTER     */
	footer{
		height: 20vh;
		background: var(--main-bg-color);
	}

/*    		 bouton   span    	 	 */
#selecte span{
	padding: 10px;
	background: #2799d1;
	border-radius: 5px;
}
/*				span 				*/
span:hover{
	filter: drop-shadow(0 0 0.5rem #2799d1);
	cursor: pointer;
}
span:active{
	filter: drop-shadow(0 0 0.75rem #2799d1);
	cursor: pointer;
}